@font-face {
	font-family: OpenSansGoogle;
	src: url("../fonts/opensans.ttf");
}

.body {
	font-family: OpenSansGoogle !important;
}

.masthead {
	height: calc(100vh - 50px);
	width: calc(100vw);
	position: relative;
}

.masthead-img {
	height: 100%;
	width: 100%;
	z-index: 10;
	position: absolute;
	top:0;
	left:0;
	-webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
    opacity: 0;
}

.masthead .row, 
.masthead .quote-block,
.masthead h4,
.masthead h5 {
	z-index: 12;
}

.show-masthead-img,
.quote.show-quote {
	opacity: 1;
	display: inherit;
}

.quote {
  left: 0;
  bottom: 0;
  width: 100%;
  margin-left: 0px;
  opacity: 0;
  display: none;
  position: absolute;
}

.quote-block {
	background-color: rgba(160,5,5,0.55);
	border-radius: 0px;
	color: white;
}

.title-banner {
	position: relative;
	padding: 2% 0;
	width: 100%;
	margin-left:0;
	margin-top: calc((100vh - 60%)/2);
}

.title-banner {
	/*background-color: rgba(25,25,25,0.1);*/
	/*color: #A80505;*/
	font-weight: bold;
	font-family: OpenSansGoogle;
}

.title-banner img.img-responsive {
  margin: 0 auto;
}

.title-banner h1,
.title-banner h2 {
	word-wrap: break-word;
}