body {
  padding-top: 50px;
  background: #F7F7F7;
}

@font-face {
	font-family: vollkorn;
	src: url('vollkorn.ttf');
}

@font-face {
	font-family: OpenSansGoogle;
	src: url("../fonts/opensans.ttf");
}

.opensans {
	font-family: OpenSansGoogle !important;
}

.vollkorn {
	font-family: vollkorn;
}

.jumbotron {
  background: rgba(255, 255, 255, .30);
}

#inner {
  padding-bottom: 50px;
}

.footer {
  background: rgba(160, 160, 160, .30);
}

#footer-row {
  padding-top: 10px;
  width: 100%;
}

nav {
	width: calc(100vw);
}

.navbar-brand {
	display: inline;
}

.navbar-header button.navbar-toggle {
	margin-right: 30px;
	
}

.navbar-header button.navbar-toggle,
.navbar-header button.navbar-toggle span.icon-bar {
	border: 1px solid #EFEFEF;
}

.navbar, .navbar a {
	background-color: #A80505;
	color: #EFEFEF;
	font-weight: bold;
	border-width: 0;
}

.nav>li>a:hover {
	color: #A80505;;
}

button.btn-tht,
a.btn-tht {
	background-color: #A80505;
	border-radius: 0px;
	color: white; 
}

a.btn-tht:hover {
	color: white;
}

input.input-tht {
	border-radius: 0px;
}

.navbar .navbar-brand .home-button {
	height: 30px;
	width: 40px;
	display: inline;
	margin-top: -5px;
}