body {
  padding-top: 50px;
  background: #F7F7F7;
}

@font-face {
	font-family: vollkorn;
	src: url('vollkorn.ttf');
}

.vollkorn {
	font-family: vollkorn;
}

.masthead {
	height: calc(100vh - 50px);
	background-color: #DE643C;
	position: relative;
}

.masthead-img {
	height: 100%;
	width: 100%;
	z-index: 10;
	position: absolute;
	top:0;
	left:0;
	-webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
    opacity: 0;
}

.masthead-img.mast0 {
	background: url('../images/mast1.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.masthead-img.mast1 {
	background: url('../images/mast2.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.masthead .row, 
.masthead .quote-block,
.masthead h4,
.masthead h5 {
	z-index: 12;
}

.show-masthead-img {
	opacity: 1;
}

.jumbotron {
  background: rgba(255, 255, 255, .30);
}

#quote {
  padding-top: 10%;
  padding-bottom: 30px;
  
}

.quote-block {
	background-color: rgba(160,5,5,0.55);
	border-radius: 8px;
	color: white;
}

#inner {
  padding-bottom: 50px;
}

.footer {
  background: rgba(160, 160, 160, .30);
}

#footer-row {
  padding-top: 10px;
}

.navbar-header button.navbar-toggle {
	margin-right: 30px;
	
}

.navbar-header button.navbar-toggle,
.navbar-header button.navbar-toggle span.icon-bar {
	border: 1px solid #EFEFEF;
}

.navbar, .navbar a {
	background-color: #A80505;
	color: #EFEFEF;
	font-weight: bold;
}

.title-banner {
	position: relative;
	padding: 2% 0;
}

.title-banner {
	background-color: rgba(255,255,255,0.55);
	color: #A80505;
	font-weight: bold;
	font-family: vollkorn;
}

.title-banner h1,
.title-banner h2 {
	word-wrap: break-word;
}