# ignore all
*

# un-ignore all files with extensions
!*.*
!Vagrantfile
!mysql-startup-credentials

# ignore .swp
*.swp
# ignore .o
*.o
# ignore .txt
*.txt

# un-ignore all directories (including sub?)
!*/

# ignore vm files
.bash_history
.mysql_history
.sudo_as_admin_successful
.vagrant/
.cache/

# ignore all hidden files
.*